# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
PORT="8080"            # The port your server will listen on
HOST="localhost"       # Hostname for the server

# CORS Settings
CORS_ORIGIN="http://localhost:*" # Allowed CORS origin, adjust as necessary

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000" # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP

TAVILY_API_KEY=...

# To separate your traces from other application
LANGCHAIN_PROJECT=fela-prophet
# LANGCHAIN_API_KEY=...
# LANGCHAIN_TRACING_V2=true

# The following depend on your selected configuration

## LLM choice:
OPENAI_API_KEY=...
ANTHROPIC_API_KEY=...
FIREWORKS_API_KEY=...
