{
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base"
  ],
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": "latest"
  },
  "rules": {
    "quotes": ["error", "double"],
    "@typescript-eslint/quotes": ["error", "double"],
    "import/extensions": [
      "off",
      "ignorePackages",
      {
        "ts": "never",
        "tsx": "never"
      }
    ],
    "import/prefer-default-export": "off"
  }
}
